.LB-SS-swap1{
	/*initially hidden, used by LucidBrot/StyleSwapper*/
	/*use this if the visibility part of the styleswapper.js code is used
	visibility: hidden;
	otherwise this:*/
	display:none;
	
}
kbd.eric-lightblue-black {
	background-color: lightblue;
	color: #333;
}
kbd.eric-grey-black {
	background-color: #cecdcd;
	color: #333;
}
kbd.eric-black-pink {
	background-color: #060606;
	color: #f059f9;
}
kbd.eric-reverse {
	background-color: #fff;
	color: #333;
	border-style: dashed;
}
kbd.eric-btn-white {
	background-color: #fff;
	color: #333;
	border: currentColor;
	border-style: outset;
}
kbd.eric-btn-dark {
	background-color: #333;
	color: #fff;
	border: #333;
	border-style: groove;
}